body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.panel-search{
    border-color: #FF6600;
}

.panel-search > .panel-heading{
    color:#000000;
    background-color: #FF9900;
    border-color: #FF6600;
}
.panel-add{
    border-color: #0099FF;
}

.panel-add > .panel-heading{
    color:#000000;
    background-color: #00CCFF;
    border-color: #0099FF;
}

.thumbnail{
	max-width:50px;
	max-height:50px;
}

div.panel-add div.row{
    margin-bottom: 2px;
}
div.panel-add div.row:nth-child(odd){
    background-color: #F8F8F8;
}
div.panel-add div.row:hover{
    background-color: #F0F0F0;
    background-image: url('../img/arrow-next.png');
    background-position: right center;
    background-repeat: no-repeat;
}
