<?php
    $this->headScript()
            ->prependFile($this->basePath('js/utils.js'));
	$form = $this->form;
	$form->prepare();
	$formLabel = $this->plugin('formLabel');
?>
<div class="row">
        <div class="col-md-12">
            <h1>Add ad</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul class="nav nav-pills nav-stacked">
                <?php 
                    $activeLink = "add-ad";
                    include('includes/admin-menu.php');
                ?>
            </ul>
        </div>
        <div class="col-md-8">
            <?php echo $this->form()->openTag($form);?>
            <?php echo $this->formElement($form->get('id')) ?>
           
           <div class="form-group">
            <?php
                $make = $form->get('make');
                echo $formLabel->openTag($make);
                echo $make->getLabel();
                echo $formLabel->closeTag();
            ?>
                <div class="col-sm-10">
                <?php
                    echo $this->formSelect($make);
                ?>
                </div>
            </div>
            <?php if ($this->formElementErrors($make) ):?>
            <div class="form-group">
                    <div class="alert alert-danger col-sm-10 col-sm-offset-2" role="alert">
                      <?php echo $this->formElementErrors($make); ?>
                    </div>
           </div>
           <?php endif;?>
           
           <div class="form-group">
            <?php
                $model = $form->get('model');
                echo $formLabel->openTag($model);
                echo $model->getLabel();
                echo $formLabel->closeTag();
            ?>
                <div class="col-sm-10">
                <?php
                    echo $this->formSelect($model);
                ?>
                </div>
            </div>
            <?php if ($this->formElementErrors($model) ):?>
            <div class="form-group">
                    <div class="alert alert-danger col-sm-10 col-sm-offset-2" role="alert">
                      <?php echo $this->formElementErrors($model); ?>
                    </div>
           </div>
           <?php endif;?>
           
           <div class="form-group">
            <?php
                $text = $form->get('text');
                echo $formLabel->openTag($text);
                echo $text->getLabel();
                echo $formLabel->closeTag();
            ?>
                <div class="col-sm-10">
                <?php
                    echo $this->formTextarea($text);
                ?>
                </div>
            </div>
            <?php if ($this->formElementErrors($text) ):?>
            <div class="form-group">
                    <div class="alert alert-danger col-sm-10 col-sm-offset-2" role="alert">
                      <?php echo $this->formElementErrors($text); ?>
                    </div>
           </div>
           <?php endif;?>
           
           <div class="form-group">
            <?php
                $price = $form->get('price');
                echo $formLabel->openTag($price);
                echo $price->getLabel();
                echo $formLabel->closeTag();
            ?>
                <div class="col-sm-5">
                <?php
                    echo $this->formNumber($price);
                ?>
                </div>
                <div class="col-sm-5">
                <?php
                    echo $this->formSelect($form->get('currency'));
                ?>
                </div>
            </div>
            <?php if ($this->formElementErrors($price) ):?>
            <div class="form-group">
                    <div class="alert alert-danger col-sm-10 col-sm-offset-2" role="alert">
                      <?php echo $this->formElementErrors($price); ?>
                    </div>
           </div>
           <?php endif;?>
           
           <div class="form-group">
            <?php
                $image = $form->get('image');
                echo $formLabel->openTag($image);
                echo $image->getLabel();
                echo $formLabel->closeTag();
            ?>
                <div class="col-sm-10">
                <?php
                    echo $this->formFile($image);
                ?>
                </div>
            </div>
            <?php if ($this->formElementErrors($image) ):?>
            <div class="form-group">
                    <div class="alert alert-danger col-sm-10 col-sm-offset-2" role="alert">
                      <?php echo $this->formElementErrors($image); ?>
                    </div>
           </div>
           <?php endif;?>
			
		    <?php echo $this->formElement($form->get('security')) ?>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				<?php echo $this->formElement($form->get('send')) ?>
				</div>
			</div>
			<?php //echo $this->formElementErrors($form->get('security'))?>
			<?php echo $this->form()->closeTag($form);?>
        </div>
</div>
<script>
    $( document ).ready(function() {
            populateModel(); 
            $("#make").change(function(){
                populateModel(); 
            });  
    });
</script>
