<?php
	$form = $this->form;
	$form->prepare();
	$formLabel = $this->plugin('formLabel');
?>
<div class="row">
        <div class="col-md-12">
            <h1>Add model</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul class="nav nav-pills nav-stacked">
                <?php 
                    $activeLink = "add-model";
                    include('includes/admin-menu.php');
                ?>
            </ul>
        </div>
        <div class="col-md-8">
            <?php echo $this->form()->openTag($form);?>
            <?php echo $this->formElement($form->get('id')) ?>
			<div class="form-group">
			<?php
				$name = $form->get('name');
				echo $formLabel->openTag($name);
				echo $name->getLabel();
				echo $formLabel->closeTag();
			?>
				<div class="col-sm-10">
				<?php
					echo $this->formInput($name);
				?>
				</div>
			</div>
			<?php if ($this->formElementErrors($name) ):?>
            <div class="form-group">
                    <div class="alert alert-danger col-sm-10 col-sm-offset-2" role="alert">
                      <?php echo $this->formElementErrors($name); ?>
                    </div>
           </div>
           <?php endif;?>
           
           <div class="form-group">
            <?php
                $make = $form->get('make');
                echo $formLabel->openTag($make);
                echo $make->getLabel();
                echo $formLabel->closeTag();
            ?>
                <div class="col-sm-10">
                <?php
                    echo $this->formSelect($make);
                ?>
                </div>
            </div>
            <?php if ($this->formElementErrors($make) ):?>
            <div class="form-group">
                    <div class="alert alert-danger col-sm-10 col-sm-offset-2" role="alert">
                      <?php echo $this->formElementErrors($make); ?>
                    </div>
           </div>
           <?php endif;?>
			
		    <?php echo $this->formElement($form->get('security')) ?>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				<?php echo $this->formElement($form->get('send')) ?>
				</div>
			</div>
			<?php //echo $this->formElementErrors($form->get('security'))?>
			<?php echo $this->form()->closeTag($form);?>
        </div>
</div>

