<div class="row">
        <div class="col-md-12">
            <h1>List makes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul class="nav nav-pills nav-stacked">
                <?php 
                    $activeLink = "list-ad";
                    include('includes/admin-menu.php');
                ?>
            </ul>
        </div>
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Add text</th>
                        <th>Price</th>
                        <th>Currency</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($ads as $ad): ?>
                    <tr>
                        <td><?php echo $ad->getText()?></td>
                        <td><?php echo $ad->getPrice()?></td>
                        <td><?php echo $ad->getCurrency()?></td>
                       	<td><?php echo $ad->getModel()->getMake()->getName()?></td>
                       	<td><?php echo $ad->getModel()->getName()?></td>
                       
                        <td>
                            <?php if($this->isAllowed("adminPanel", "update-ad")):?>
                            <a href="<?php echo $this->url('admin', array('action' => 'update-ad', 'id' => $ad->getId())); ?>"><span class="glyphicon glyphicon-pencil"></span></a>
                            <?php endif;?>
                            
                            <?php if($this->isAllowed("adminPanel", "delete-ad")):?>
                            <a href="#" name="remove" onclick="$('input[id=deletedId]').val('<?php echo $ad->getId();?>'); $('span[id=deleted_entry_name]').html('<?php echo $ad->getText();?>')"><span class="glyphicon glyphicon-remove"></span></a>
                            <!--<a href="<?php echo $this->url('admin', array('action' => 'delete-ad', 'id' => $ad->getId())); ?>" name="remove"><span class="glyphicon glyphicon-remove"></span></a>-->
                            <?php endif;?>
                        </td>
                    </tr>
                    <?php endforeach?>
                </tbody>
            </table>
        </div>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to delete the entry <span id="deleted_entry_name"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="deleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>

<form action="<?php echo $this->url('admin', array('action' => 'delete-ad')); ?>" method="post" id="deleteForm">
    <input type="hidden" name="id" id="deletedId"/>
</form>

<script type="text/javascript">
    $(document).ready(function(){
        $("a[name='remove']").click(function(){
            $("#myModal").modal('show');
        });
        $("button[id=deleteButton]").click(function(){
            $("form[id=deleteForm]").submit();
        });
    });
</script>