<div class="row">

    <div class="col-md-4">
        <div class="panel panel-add">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Ultimile anunturi adaugate') ?></h3>
            </div>
            <div class="panel-body">
			<?php
				$noimagefilename = 'img/rsz_no-image.png';
				foreach($ads as $ad){
			?>
				<div class="row">
					<div class="col-sm-3 col-xs-3">
						<?php 
							$adimagefilename = '/uploads/images/'.$ad->getImage();
							if(file_exists($_SERVER['DOCUMENT_ROOT'].$adimagefilename)):
						?>
						<img class="thumbnail" src="<?php echo $adimagefilename?>">
						<?php else: ?>
						<img class="thumbnail" src="<?php echo $noimagefilename?>">
						<?php endif;?>
					</div>
					<div class="col-sm-3  col-xs-3">
						<?php echo $ad->getModel()->getMake()->getName()?>
					</div>
					<div class="col-sm-3 col-xs-3">
						 <?php echo $ad->getModel()->getName()?>
                    </div>
					<div class="col-sm-3 col-xs-3">
						<?php echo $ad->getPrice()?> &nbsp; <?php echo $ad->getCurrency()?>
					</div>
				</div>
			 <?php
				}
			?>
			<p><a class="btn btn-info pull-right" href="<?php echo $this->url('frontend', array('action' =>'list-ads'))?>"><?php echo $this->translate('View all ads') ?> &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-search">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-search"></span> <?php echo $this->translate('Cautare rapida') ?></h3>
            </div>
            <div class="panel-body">
                <p><?php echo sprintf($this->translate('The community is working on developing a community site to serve as a repository and gallery for ZF2 modules. The project is available %son GitHub%s. The site is currently live and currently contains a list of some of the modules already available for ZF2.'), '<a href="https://github.com/zendframework/modules.zendframework.com">', '</a>') ?></p>
                <p><a class="btn btn-success pull-right" href="http://modules.zendframework.com/" target="_blank"><?php echo $this->translate('Explore ZF2 Modules') ?> &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Help &amp; Support') ?></h3>
            </div>
            <div class="panel-body">
                <p><?php echo sprintf($this->translate('If you need any help or support while developing with ZF2, you may reach us via IRC: %s#zftalk on Freenode%s. We\'d love to hear any questions or feedback you may have regarding the beta releases. Alternatively, you may subscribe and post questions to the %smailing lists%s.'), '<a href="irc://irc.freenode.net/zftalk">', '</a>', '<a href="http://framework.zend.com/wiki/display/ZFDEV/Mailing+Lists">', '</a>') ?></p>
                <p><a class="btn btn-success pull-right" href="http://webchat.freenode.net?channels=zftalk" target="_blank"><?php echo $this->translate('Ping us on IRC') ?> &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
