<div class="row">

    <div class="col-md-12">
            <div class="panel-body">
			<?php
				$noimagefilename = '/img/rsz_no-image.png';
				foreach($ads as $ad){
			?>
				<div class="row">
					<div class="col-sm-3 col-xs-3">
						<?php 
							$adimagefilename = '/uploads/images/'.$ad->getImage();
							if(file_exists($_SERVER['DOCUMENT_ROOT'].$adimagefilename)):
						?>
						<img class="thumbnail" src="<?php echo $adimagefilename?>">
						<?php else: ?>
						<img class="thumbnail" src="<?php echo $noimagefilename?>">
						<?php endif;?>
					</div>
					<div class="col-sm-3  col-xs-3">
						<?php echo $ad->getModel()->getMake()->getName()?>
					</div>
					<div class="col-sm-3 col-xs-3">
						 <?php echo $ad->getModel()->getName()?>
                    </div>
					<div class="col-sm-3 col-xs-3">
						<?php echo $ad->getPrice()?> &nbsp; <?php echo $ad->getCurrency()?>
					</div>
				</div>
			 <?php
				}
			?>
			<p>paginare</p>
            </div>
        
    </div>
</div>
