<div class="row">
    <div class="col-md-offset-4 col-md-4">
    <h1><?php echo $this->translate('Sign In'); ?></h1>

<?php
$form = $this->loginForm;
$form->prepare();
$form->setAttribute('action', $this->url('zfcuser/login'));
$form->setAttribute('method', 'post');
$form->setAttribute('class', 'form-horizontal');
?>

<?php echo $this->form()->openTag($form) ?>


        <?php echo $this->formElementErrors($form->get('identity')) ?>
    <div class="form-group">
        <?php
            $form->get('identity')-> setAttribute('class', 'form-control');
            $form->get('identity')-> setLabelAttributes(array('class' => 'col-sm-4 control-label'));
        ?>
        <?php echo $this->formLabel($form->get('identity')) ?>
        <div class="col-sm-8"><?php echo $this->formInput($form->get('identity')) ?></div>
    </div>
    <div class="form-group">
        <?php
            $form->get('credential')-> setAttribute('class', 'form-control');
            $form->get('credential')-> setLabelAttributes(array('class' => 'col-sm-4 control-label'));
        ?>
        <?php echo $this->formLabel($form->get('credential')) ?>
        <div class="col-sm-8"><?php echo $this->formInput($form->get('credential')) ?></div>
    </div>
        <?php if ($this->redirect): ?>
            <input type="hidden" name="redirect" value="<?php echo $this->escapeHtml($this->redirect) ?>" />
        <?php endif ?>

      <div class="form-group">
          <div class="col-sm-offset-8 col-sm-4">
            <?php echo $this->formButton($form->get('submit')) ?>
          </div>
     </div>


<?php echo $this->form()->closeTag() ?>

<?php if ($this->enableRegistration) : ?>
<?php echo $this->translate('Not registered?'); ?> <a href="<?php echo $this->url('zfcuser/register') . ($this->redirect ? '?redirect='.$this->escapeUrl($this->redirect) : '') ?>"><?php echo $this->translate('Sign up!'); ?></a>
<?php endif; ?>
    </div>
</div>
